*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 320px;
    margin: auto;
    justify-content: space-around;
    gap: 15px;
}

.child{
    flex-basis: 50px;
}

#logo{
    display: flex;
    flex-direction: row;
    background-color: orangered;
    margin-top: 15px;
    flex-basis: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    text-align: center;
}

#body{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-grow: 15;
    flex-shrink: 15;
    gap: 10px;
}

#column1{
    display: flex;
    flex-direction: row;
    flex-basis: 50px;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    text-align: center;
}

#column2{
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 20;
    flex-shrink:20;
    gap: 10px;
}

.box{
    flex-basis: 100px;
}

#header{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: orangered;
    flex:1;
    align-items: center;
    
}

#bodyarea{
    display: flex;
    text-align: center;
    background-color: orangered;
    flex:3;
    flex-direction: row;
    align-items: center;
}


#footer{
    display: flex;
    text-align: center;
    background-color: orangered;
    flex-basis: 10px;    
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 15px;
    flex-direction: row;
    align-items: center;
}

p{
    font-weight: 525;
    font-size: 1.5rem;
    width: 100%;
}

@media(min-width : 450px){
    body{
        width: 450px;
    }
    p{
        font-weight: 525;
        font-size: 2rem;
    }
}

@media(min-width : 700px){
    body{
        width: 700px;
    }
    p{
        font-weight: 525;
        font-size: 3rem;
    }
}

@media(min-width : 1000px){
    body{
        width: 1000px;
    }
    p{
        font-weight: 525;
        font-size: 3rem;
    }
}


@media(min-width : 1200px){
    body{
        width: 1200px;
    }
    p{
        font-weight: 525;
        font-size: 3rem;
    }
}


@media(min-width : 1400px){
    body{
        width: 1400px;
    }
    p{
        font-weight: 525;
        font-size: 3rem;
    }
}

@media(min-width : 1700px){
    body{
        width: 1700px;
    }
    p{
        font-weight: 525;
        font-size: 3rem;
    }
}

@media(min-width :2000px){
    body{
        width: 2000px;
    }
    p{
        font-weight: 525;
        font-size: 3rem;
    }
}

